<!-- <ion-header>
  <ion-toolbar>
    <ion-title>预约理疗服务</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>


  <div class="flex-row flex-center margin-top-20">
    <div class="flex-1"></div>
    <ion-segment (ionChange)="segmentChanged($event)" class="yuyue" value="a">
      <ion-segment-button value="a">
        <ion-label>时间优先</ion-label>
      </ion-segment-button>
      <ion-segment-button value="b">
        <ion-label>技师优先</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div class="flex-1"></div>
  </div>

  <div class="" *ngIf='checked=="a"'>

    <div class="block padding-40">

      <div class="flex-row flex-center padding-bottom-30 ">
        <div class="flex-1">日期</div>

        <ion-datetime displayFormat="YYYY-MM-DD" (ionChange)='update()' [(ngModel)]="startdate" doneText='确认'
          cancelText='取消' placeholder='请选择理疗日期'></ion-datetime>
        <img src="{{uploadpath}}resource/{{res.right}}" class="right margin-left-20">
      </div>



      <div class="bottom"></div>

      <div class="flex-row flex-center padding-bottom-30 ">
        <div class="flex-1">时段</div>
        <!-- <input class="h5   " style="border: 0;" type="text" placeholder="请选择理疗时间"> -->
        <input class="    " style="border: 0;" [(ngModel)]='date_name' onfocus="this.blur();" (click)="openPicker()"
          placeholder="请选择理疗时间">

        <img src="{{uploadpath}}resource/{{res.right}}" class="right margin-left-20">
      </div>

      <div class="bottom"></div>

      <div class="flex-row flex-center padding-bottom-30 ">
        <div class="flex-1">区域</div>
        <input class="    " style="border: 0;" [(ngModel)]='address_name' onfocus="this.blur();"
          (click)="openPicker2()" placeholder="请选择地点">
        <img src="{{uploadpath}}resource/{{res.right}}" class="right margin-left-20">
      </div>

      <div class="bottom"></div>

      <div class="flex-row flex-center padding-bottom-30 ">
        <div class="flex-1">项目</div>
        <input class="    " style="border: 0;" [(ngModel)]='project_name' onfocus="this.blur();"
          (click)="openPicker3()" placeholder="请选择项目">
        <img src="{{uploadpath}}resource/{{res.right}}" class="right margin-left-20">
      </div>

      <div class="bottom"></div>

      <div class="flex-row flex-center padding-bottom-30 ">
        <div class="flex-1">技师</div>
        <input class="    " style="border: 0;" [(ngModel)]='technician_name' onfocus="this.blur();"
          (click)="openPicker4()" placeholder="请选择技师">
        <img src="{{uploadpath}}resource/{{res.right}}" class="right margin-left-20">
      </div>

    </div>

    <div class="block padding-40">

      <div class="flex-row flex-center padding-bottom-30 ">
        <div class="flex-1">员工工号</div>
        <input class="    " [(ngModel)]='gonghao' style="border: 0;" type="text" placeholder="请填写员工工号">
      </div>

      <div class="bottom"></div>

      <div class="flex-row flex-center padding-bottom-30 ">
        <div class="flex-1">手机号</div>
        <input class="    " [(ngModel)]='mobile' style="border: 0;" type="text" placeholder="请填写手机号">
      </div>

    </div>

    <div style="" class="  btn margin-40 text-center txt-white" (click)='submit()'>确认预约</div>

  </div>



  <div class="" *ngIf='checked=="b"'>

    <div class="block padding-40">

      <div class="flex-row flex-center padding-bottom-30 ">
        <div class="flex-1">技师</div>
        <input class="    " style="border: 0;" [(ngModel)]='technician_name' onfocus="this.blur();"
          (click)="openPicker4()" placeholder="请选择技师">
        <img src="{{uploadpath}}resource/{{res.right}}" class="right margin-left-20">
      </div>

      <div class="bottom"></div>

      <div class="flex-row flex-center padding-bottom-30 ">
        <div class="flex-1">项目</div>
        <input class="    " style="border: 0;" [(ngModel)]='project_name' onfocus="this.blur();"
          (click)="openPicker3()" placeholder="请选择项目">
        <img src="{{uploadpath}}resource/{{res.right}}" class="right margin-left-20">
      </div>
 
      <div class="bottom"></div>

      <div class="flex-row flex-center padding-bottom-30 ">
        <div class="flex-1">区域</div>
        <input class="    " style="border: 0;" [(ngModel)]='address_name' onfocus="this.blur();"
          (click)="openPicker2()" placeholder="请选择地点">
        <img src="{{uploadpath}}resource/{{res.right}}" class="right margin-left-20">
      </div>

      <div class="bottom"></div>
 
      <div class="flex-row flex-center padding-bottom-30 ">
        <div class="flex-1">日期</div>

        <ion-datetime displayFormat="YYYY-MM-DD" (ionChange)='update()' [(ngModel)]="startdate" doneText='确认'
          cancelText='取消' placeholder='请选择理疗日期'></ion-datetime>
        <img src="{{uploadpath}}resource/{{res.right}}" class="right margin-left-20">
      </div>
 
      <div class="bottom"></div>

      <div class="flex-row flex-center padding-bottom-30 ">
        <div class="flex-1">时段</div>
        <!-- <input class="h5   " style="border: 0;" type="text" placeholder="请选择理疗时间"> -->
        <input class="    " style="border: 0;" [(ngModel)]='date_name' onfocus="this.blur();" (click)="openPicker()"
          placeholder="请选择理疗时间">

        <img src="{{uploadpath}}resource/{{res.right}}" class="right margin-left-20">
      </div>
 

    </div>

    <div class="block padding-40">

      <div class="flex-row flex-center padding-bottom-30 ">
        <div class="flex-1">员工工号</div>
        <input class="    " [(ngModel)]='gonghao' style="border: 0;" type="text" placeholder="请填写员工工号">
      </div>

      <div class="bottom"></div>

      <div class="flex-row flex-center padding-bottom-30 ">
        <div class="flex-1">手机号</div>
        <input class="    " [(ngModel)]='mobile' style="border: 0;" type="text" placeholder="请填写手机号">
      </div>

    </div>

    <div style="" class="  btn margin-40 text-center txt-white" (click)='submit()'>确认预约</div>

  </div>






</ion-content>