<ion-header>
  <ion-toolbar>
    <ion-title>订单信息确认</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="" >

    <div class="block padding-40">
  
      <div class="flex-row flex-center padding-bottom-30 "  > 
        <div class="flex-1 h5">时间</div>
        <div class="h5">{{orderinfo.yuyueriqi}}  {{orderinfo.duration_id_name}}</div>
      </div>
  
      <div class="bottom"></div>
  
      <div class="flex-row flex-center padding-bottom-30 "  > 
        <div class="flex-1">地点</div>
        <div class="h5">{{orderinfo.address_name}}</div>
      </div>
  
      <div class="bottom"></div>
  
      <div class="flex-row flex-center padding-bottom-30 "  > 
        <div  class="flex-1 h5">技师</div>
        <div class="h5">{{orderinfo.technician_name}}</div>
      </div>
  
      <div class="bottom"></div>
  
      <div class="flex-row flex-center padding-bottom-30 "  > 
        <div  class="flex-1 h5">套餐</div>
        <div class="h5">{{orderinfo.project_name}}</div>
      </div>
  
      <div class="bottom"></div>
  
      <div class="flex-row flex-center padding-bottom-30 "  > 
        <div class="flex-1 h5">费用合计</div>
        <div class="txt-bold">¥{{orderinfo.project_price}}</div>
      </div>
  
    </div>
    
    <div class="block padding-20">
  
 

      <ion-list>
        <ion-radio-group  (ionChange)='checked($event)' value='A'>
  
          <ion-item  *ngFor="let item of daijinquan;let i=index;">
            
            <ion-radio [(value)]="item.id"></ion-radio>
            <ion-label class="h5">{{item.name}}</ion-label>
          </ion-item>

          <ion-item >

            <ion-radio value="A"></ion-radio>
            <ion-label  class="h5">余额支付</ion-label>
            <!-- <ion-label class="text-right">阿萨德</ion-label> -->
          </ion-item>

          <ion-item  >
            
            <ion-radio value="B"></ion-radio>
            <ion-label  class="h5">微信支付</ion-label>
            <!-- <ion-label class="text-right">阿萨德</ion-label> -->
          </ion-item>
       
        </ion-radio-group>
      </ion-list>
  
      <!-- <div class="bottom"></div> -->
 
    
    </div>
  
    <div style="" class="  btn margin-40 text-center txt-white" (click)="comfrim(orderinfo.project_price,MemberInfo.quota)">确认支付</div>
  
  </div>


</ion-content>
