 

<ion-content>

  <div class="flex-row flex-center bg-white">

    <div class="flex-1"></div>
    <div class="text-center padding-10  " (click)='checked("A")'>
      <div class="{{check=='A'?'txt-green':''}}">待付款</div>
      <div class="tiao {{check=='A'?'bg1':''}} margin-top-10"></div>
    </div>

    <div class="flex-1"></div>

    <div class="text-center padding-10 " (click)='checked("B")'>
      <div class="{{check=='B'?'txt-green':''}}">待服务</div>
      <div class="tiao  {{check=='B'?'bg1':''}} margin-top-10"></div>
    </div>

    <div class="flex-1"></div>

    <div class="text-center padding-10  " (click)='checked("C")'>
      <div class="{{check=='C'?'txt-green':''}}">已完成</div>
      <div class="tiao  {{check=='C'?'bg1':''}} margin-top-10"></div>
    </div>

    <div class="flex-1"></div>

    <div class="text-center padding-10  " (click)='checked("D")'>
      <div class="{{check=='D'?'txt-green':''}}">已取消</div>
      <div class="tiao  {{check=='D'?'bg1':''}} margin-top-10"></div>
    </div>

    <div class="flex-1"></div>

  </div>

  <div class="" *ngFor="let item of orderlist;let i=index;" routerLink='/dindanqueren' [queryParams]="{id:item.id}">
    <div class="flex-row flex-center padding-20 bg-white">
      <div class="h5 txt-gray flex-1">订单编号:{{item.orderno}}</div>
      <div class="h5 txt-gray">{{item.orderstatus_name}}</div>
    </div>

    <div class="padding-20 flex-row flex-center bg-gray">

      <img src="{{uploadpath}}project/{{item.project_img}}" class="icon-80" style="">

      <div class=" margin-left-40 flex-1">

        <div class="flex-row flex-center ">
          <div class="h5 flex-1  txt-bold">{{item.project_name}}</div>
          <div class="txt-orange txt-bold">¥{{item.project_price}}</div>
        </div>

        <div class="h6 margin-top txt-gray">{{item.project_duration}}分钟</div>

      </div>

    </div>

    <div class="flex-row flex-center padding-20 bg-white">
      <div class="h5 txt-gray flex-1">合计：¥{{item.project_price}}</div>


      <div class="caozuo h5" *ngIf="item.orderstatus=='A'">付款</div>
      <div class="caozuo h5 margin-left-10" *ngIf="item.orderstatus=='A'">取消</div>

      <div class="caozuo h5 margin-left-10" *ngIf="item.orderstatus=='B'">完成</div>
      <!-- <div class="caozuo h5" *ngIf="item.orderstatus=='B'">取消</div>  -->

    </div>

    <div style="height: 10px;" class="bg-gray"></div>

  </div>


  <div class="text-center margin-top" *ngIf="orderlist.length==0">

    <img src="{{uploadpath}}resource/{{res.zanwu}}" class="icon-100">
    <div class="h5 txt-gray margin-top">暂无订单</div>
  </div>


  <div style="height: 100px;"></div>

  <div class="bottom">
    <div style="" class="  btn margin-20 text-center txt-white" (click)='back()'>返回会员中心</div>
  </div>


</ion-content>