<ion-header>
  <ion-toolbar  color='primary'>
      <ion-buttons slot="start">
        <ion-button (click)='back()'>
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>阿姨详情</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

  <div class="text-center margin-top txt-bold h4">{{humandetail.kehu_name}}</div>
  <div class="flex-row margin-top">
    <div > 
    <img src="{{uploadpath}}human/{{humandetail.img}}" bindtap="divPhoto" id="{{uploadpath}}human/{{humandetail.img}}" class="margin-left-30 imgs" />
    </div>
  
    <div class="margin-left-40 width-500">
      <div class="flex-row flex-center">
        <div class="margin-right-10">{{humandetail.name}}</div>
        <img src="{{uploadpath}}resource/{{humandetail.xinyong=='B'?res.xywu:(humandetail.xingge=='C'?res.xyyou:res.xyweicha)}}" class='icon-25 margin-right-10'/>
        <img src="{{uploadpath}}resource/{{humandetail.shenfenyanzhen=='B'?res.sfyizhi:(humandetail.shenfenyanzhen=='C' ||humandetail.shenfenyanzhen=='E'?res.sfbuyizhi:res.sfweicha)}}" class='icon-25'/>
        <div class="h5 margin-left-64">状态：{{humandetail.workstatus==''?'待业':humandetail.workstatus_name}}</div>
      </div>
      <div class="h5 margin-top-20">年龄： {{humandetail.age}}</div>
      <div class="h5">经验： {{humandetail.jingyan}}年</div>
      <div class="h5">工种： {{humandetail.yixian_name}}</div>
    </div>
  </div>
  
  <div class="size">
    <div class="txt-black txt-bold margin-top-14 text-center">视频简介</div>
  </div>
  
  <div class="margin-top-30 margin-left-30 margin-bottom-30">
    <video src="{{uploadpath}}human/{{humandetail.video}}" class="icon-350 margin-left-30"></video>
  </div>
  
  <div class="size">
    <div class="txt-black txt-bold margin-top-14 text-center">基本信息</div>
  </div>
  <div class="flex-row margin-top-30">
    <div class="margin-left-40 flex-1 h5 txt-bold">籍贯： {{humandetail.city_provincecity}}</div>
    <div class="flex-1 h5 txt-bold margin-left-80">属相： {{humandetail.genitals_name}}</div>
  </div>
  <div class="border-bottom margin-top-30"></div>
  
  <div class="flex-row margin-top-30">
    <div class="margin-left-40 flex-1 h5 txt-bold">民族：{{humandetail.nationality_name}}</div>
    <div class=" h5 txt-bold flex-1 margin-left-80">学历： {{humandetail.xueli==''?'':humandetail.xueli_name}}</div>
  </div>
  <div class="border-bottom margin-top-30"></div>
  
  <div class="flex-row margin-top-30">
    <div class="margin-left-40 flex-1 h5 txt-bold">婚烟状况： {{humandetail.hunyin==''?"":humandetail.hunyin_name}}</div>
    <div class="flex-1 h5 txt-bold margin-left-80">是否已育： {{humandetail.yiyu==''?"":humandetail.yiyu_name}}</div>
  </div>
  <div class="border-bottom margin-top-30"></div>
  
  <div class="flex-row margin-top-30">
    <div class="margin-left-40 flex-1 h5 txt-bold">身高（厘米）： {{humandetail.shengao}}</div>
    <div class="flex-1 h5 txt-bold margin-left-80">体重（KG）： {{humandetail.weight}}</div>
  </div>
  <div class="border-bottom margin-top-30"></div>
  
  <div class="flex-row margin-top-30">
    <div class="margin-left-40 flex-1 h5 txt-bold">语言： {{humandetail.languagename}}</div>
  </div>
  <div class="border-bottom margin-top-30"></div>
  
  <div class="flex-row margin-top-30">
    <div class="margin-left-40 flex-1 h5 txt-bold">菜系： {{humandetail.cuisinename}}</div>
  </div>
  <div class="border-bottom margin-top-30"></div>
  
  <div class="flex-row margin-top-30">
    <div class="margin-left-40 flex-1 h5 txt-bold">性格： {{humandetail.humanxingget}}</div>
  </div>
  <div class="border-bottom margin-top-30"></div>
  
  <div class="size">
    <div class="txt-black txt-bold margin-top-14 text-center">工作经历</div>
  </div>
  <div *ngFor='let item of humandetail.work' >
  
    <div class="flex-row margin-top-30">
      <div class="margin-left-40 flex-1 h5 txt-bold">时间： {{item.shijian+'-'+item.endtime}}</div>
    </div>
    <div class="border-bottom margin-top-30"></div>
  
    <div class="flex-row margin-top-30">
      <div class="margin-left-40 flex-1 h5 txt-bold">地点： {{item.name}}</div>
    </div>
    <div class="border-bottom margin-top-30"></div>
  
    <div class="flex-row margin-top-30">
      <div class="margin-left-40 flex-1 h5 txt-bold">服务对象： {{item.fuwu}}</div>
    </div>
    <div class="border-bottom margin-top-30"></div>
  
    <div class=" margin-top-30">
      <div class="margin-left-40 flex-1 h5 txt-bold">工作内容： </div>
      <div class="margin-left-40 h5 txt-bold margin-top-20">{{item.content}}</div>
    </div>
    <div class="border-bottom2 margin-top-30"></div>
  
  </div>
  
  
  
  <div class="size margin-top">
    <div class="txt-black txt-bold margin-top-14 text-center">培训证书</div>
  </div>
  
  <div class="margin-top-20 margin-left-30 margin-bottom-20">
    <img src="{{uploadpath}}human/{{item.img}}" mode='heightFix' bindtap="divPhoto" id="{{uploadpath}}human/{{item.img}}" *ngFor='let item of humandetail.certificate' wx:key='k' class="icon-200"/>
  </div>
  
  <div class="size">
    <div class="txt-black txt-bold margin-top-14 text-center">体检报告</div>
  </div>
  
  <div class="margin-top-20 margin-left-30 margin-bottom-20">
    <img src="{{uploadpath}}human/{{item.img}}" mode='heightFix' bindtap="divPhoto" id="{{uploadpath}}human/{{item.img}}" *ngFor='let item of humandetail.baogao' wx:key='k' class="icon-200"/>
  </div>
  
  <div class="size">
    <div class="txt-black txt-bold margin-top-14 text-center">服务照片</div>
  </div>
  <div *ngFor='let item of humandetail.fuwu'>
    <div class="flex-row margin-top margin-left-30">
      <div class="margin-bottom-20">
        <img src="{{uploadpath}}human/{{item.img}}" mode='widthFix' bindtap="divPhoto" id="{{uploadpath}}human/{{item.img}}" class="icon-200"/>
      </div>
      <div class="margin-left-20">
        <div class="h5 txt-bold txt-black">描述：</div>
        <div class="h5 t-color txt-bold margin-top-5">{{item.summary}}</div>
      </div>
    </div>
    <div class="border-bottom"></div>
  
  </div>
  <div class="height-100"></div>
  <div class="size2 " >
    <div class="flex-row margin-top-14 flex-column">
      <div class="btns h5" (click)='jiaoru()'>加入候选</div>
  
    </div>
  </div>
  

</ion-content>
