<ion-header>
  <ion-toolbar>
    <ion-title>个人钱包</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div style="background: #3D3D3D;">

    <div style="height:20px"></div>

    <div class="flex-row flex-center  ">

      <div class="flex-1"></div>
      <div class="flex-row flex-column padding-10  " (click)='checked("A")'>
        <div class="txt-white">在线支付</div>
        <div class="tiao {{check=='A'?'bg1':''}} margin-top-10"></div>
      </div>

      <div class="flex-1"></div>

      <div class="flex-row flex-column padding-10 " (click)='checked("B")'>
        <div class="txt-white">兑换码兑换</div>
        <div class="tiao  {{check=='B'?'bg1':''}} margin-top-10"></div>
      </div>

      <div class="flex-1"></div>

    </div>

    <div style="height:60px"></div>

  </div> -->



  <div class=' under '>



    <div class="block2 padding-30 margin-30" [style.background-image]="'url('+uploadpath+'resource/'+res.qianbao+')'"
      style="background-size:100% 100%; ">

      <div class="flex-row flex-center">
        <img src="{{uploadpath}}resource/{{res.vip}}" class="icon-15 margin-left-10">

        <div class="h6 txt-white margin-left-10">会员卡剩余额度（元）</div>
      </div>

      <div class="h2 txt-white margin-top-10 margin-left-10">{{MemberInfo.quota}}</div>
      <div class='height-20'></div>
    </div>

    <div  >

      <div class="flex-row flex-center margin-30" style="margin-bottom: 0;">
        <div class="shu"></div>
        <div class="margin-left-10">请选择充值金额</div>
      </div>

      <div class=" ">

        <div class="flex-row flex-center flex-wrap">


          <div class="checkblock flex-row flex-column {{package==i?'checkbg1':'checkbg2'}}"
            *ngFor="let item of packagelist;let i=index" (click)="checking(i)">
            <div class="flex-row flex-bottom">
              <div class="h3 {{package==i?'txt-orange':''}}">{{item.amount}}</div>
              <div class="h6 {{package==i?'txt-orange':''}}">元</div>
            </div>
            <div class="h6  {{package==i?'txt-orange':''}}">充值送{{item.give_amount}}元</div>
          </div>


        </div>




      </div>

      <div class="flex-row flex-center margin-30" style="margin-bottom: 0;">
        <div class="shu"></div>
        <div class="margin-left-10">支付方式</div>
      </div>

      <div class="flex-row flex-center margin-30" style="margin-bottom: 0;">
        <img src="{{uploadpath}}resource/{{res.weixin}}" class="weixin ">
        <div class="margin-left-10">微信支付</div>
      </div>
    </div>


    <!-- <div *ngIf="check=='B'" class="padding-30">

       
      <input [(ngModel)]='duihuan' class="duihuan padding-30" style=" width: 100%;" type="text" placeholder="请输入兑换码（区分大小写）">

      <div style="height: 60px;"></div>

      <div class="  btn   text-center txt-white">确认兑换</div>
    </div> -->

  </div>

  <div style="height: 100px;" *ngIf="check=='A'"></div>

  <div class="bottom" *ngIf="check=='A'">

    <div class="flex-row flex-center padding-30">

      <div class="h6 flex-1">支付金额：</div>

      <div class="h3 txt-orange">¥{{amount}}</div>
    </div>
    <div class="  btn margin-20 text-center txt-white">立即充值</div>
  </div>

</ion-content>