<ion-header>
  <ion-toolbar  >
    <ion-title>
      绑定社保卡
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >

  <div [style.background-image]="'url('+uploadpath+'resource/'+res.shebao+')'" style="background-size:100% 100%; "
    class="bg1">

    <div class="all">
    

      <div class="block padding-40">

        <div class="flex-row flex-center padding-bottom-30 "  > 
          <div class="flex-1 h5">姓名</div>
          <input class="h5   "  [(ngModel)]='name' style="border: 0;" type="text" placeholder="请填写姓名"> 
        </div>
    
        <div class="bottom"></div>
    
        <div class="flex-row flex-center padding-bottom-30 "  > 
          <div class="flex-1 h5">手机号</div>
          <input class="h5   "  [(ngModel)]='mobile' style="border: 0;" type="text" placeholder="请填写手机号"> 
        </div>

        <div class="bottom"></div>
    
        <div class="flex-row flex-center padding-bottom-30 "  > 
          <div class="flex-1 h5">社保卡号</div>
          <input class="h5   "  [(ngModel)]='shebao' style="border: 0;" type="text" placeholder="请输入社保卡号"> 
        </div>
      
      </div>

     

      <div style="" class="  btn margin-40 text-center txt-white" (click)="submit(MemberInfo.id)" >确认绑定</div>
    </div>

  </div>
 
</ion-content>