// @function rpx($px) {
//   @return ($px * 100vw) / 750;
// }

ion-content{
  --background: #f5f5f5;
}
.bg1{
  width: 100%;
  height: 235px;
  position: relative;
  
}
.all{
  position: absolute;
  top: 70%;
  width: 100%;
  z-index: 10;
}
.block{
  margin: 14px;
background: #ffffff;
border-radius: 8px;
}
.bottom{
  //border-bottom: 1px solid #DCDCDC;
  width: 100%;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
  background: #DCDCDC;
}
.logo{
  width: 107px;
  height: 43px;
}
.tiao{
  width: 1px;
height: 9px;
opacity: 0.22;
background: #000000;
}
.tiao2{
  width: 2px;
height: 20px;
background: #dddddd;
}
.btn{
 
height: 44px;
line-height: 44px;
background: linear-gradient(#59c69c 0%, #89d464 100%);
border-radius: 4px;
}
input{
  text-align: right;
  outline: none;
  border: none; 
}