 
input{
    outline: none;
    border: none; 
    border-bottom: 1px solid rgb(228, 228, 228);
   }
   .btn{
   
    height: 44px;
    line-height: 44px;
    background: linear-gradient(#59c69c 0%, #89d464 100%);
    border-radius: 4px;
    }
 
    .logo{
        width: 142px;
        height: 57px;
    }
    .block{
         margin: 15px; 
background: #ffffff;
border-radius: 8px;
padding: 25px;
    }
    ion-content{
        --background: #d4e7ff;
    }
