 
input{
    outline: none;
    border: none; 
    border-bottom: 1px solid black;
   }
   .btn{
   
    height: 44px;
    line-height: 44px;
    background: linear-gradient(#59c69c 0%, #89d464 100%);
    border-radius: 4px;
    }
    .bg1{
        width: 100vw;
        height: 100%;
        background: #D4E7FF;
    }
    .logo{
        width: 142px;
        height: 57px;
    }
    .block{
         margin: 15px; 
background: #ffffff;
border-radius: 8px;
padding: 25px;
    }